.productList_component{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.productList_filter{
    margin-top: 4%;
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    border: solid rgb(122, 120, 120) 2px;
    font-size: 1rem;

    &:focus{
        outline: none;
    }
}
.productList_filter::placeholder{
    font-size: 1rem;
}
.productList_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.productItem_component{
    width: 20%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    border-radius: 10px;
    transition: 0.2s;
    background-color: beige;

    &:hover{
        cursor: pointer;
        transform: scale(1.05);
        box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.055);
        border: rgb(216, 213, 213) solid 2px;
    }

    & > img{
        width: 100%;
        margin-bottom: 10px;
    }
    & > p{
        margin-bottom: 10px;
        text-align: center;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.753);
    }
    & > button{
        background-color: rgb(233, 153, 3);
        color: white;
        border: none;
        padding: 6px 15px;
        border-radius: 10px;

        &:hover{
            cursor: pointer;
            background-color: orange;
        }

        &:active{
            background-color: rgb(194, 127, 4);
        }
    }
}
.item_price{
    font-weight: 600 !important;
}


/* ///////////  MEDIA QUERIES //////////// */
@media (max-width: 1024px){
    .productItem_component{
        width: 30%;
    }
}
@media (max-width: 768px){
    .productItem_component{
        width: 30%;
    }
}
@media (max-width: 640px){
   .productList_filter{
        padding: 4px;
        border: solid rgb(122, 120, 120) 1px;
        font-size: 0.5rem;
    }
    .productList_filter::placeholder{
        font-size: 0.5rem;
    }
    .productItem_component{
        width: 45%;

        & > p{
            font-size: 0.7rem;
        }
        & > button{
            padding: 3px 10px;
            font-size: 0.5rem;
        }
    }
}
@media (max-width: 475px){
   .productList_filter{
        padding: 4px;
        border: solid rgb(122, 120, 120) 1px;
        font-size: 0.5rem;
    }
    .productList_filter::placeholder{
        font-size: 0.5rem;
    }
    .productItem_component{
        width: 45%;

        & > p{
            font-size: 0.7rem;
        }
        & > button{
            padding: 3px 10px;
            font-size: 0.5rem;
        }
    }
}
@media (max-height: 450px) and (orientation: landscape){
   .productList_filter{
        padding: 8px;
        border: solid rgb(122, 120, 120) 2px;
        font-size: 0.7rem;
    }
    .productList_filter::placeholder{
        font-size: 0.7rem;
    }
}